body {
    font-family:"Brush Script MT", cursive;
;
    text-align: center;
    margin: 0; 
    background-color: #FADADD;
}

#container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
}

#question {
    font-size: 52px; 

}

#options {
    margin-top: 20px; 
}

button {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 26px; 
    font-family:"Brush Script ";
    background-color: #FB607F; 
    color: white; 
    border: none; 
    cursor: pointer;
}

